.container {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.avatar {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  align-self: flex-start;
}

.button {
  display: block;
}
